<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Data API</title>
  </head>
  <body>
    <h1>Weather Data API</h1>
    <p>URL format: <a href="http://127.0.0.1:5000/api/v1/station/date">http://127.0.0.1:5000/api/v1/station/date</a></p>
    <p>URL Example for one station: <a href="http://127.0.0.1:5000/api/v1/10/1988-10-25">http://127.0.0.1:5000/api/v1/10/1988-10-25</a></p>
    <p>URL Example for all dates: <a href="http://127.0.0.1:5000/api/v1/10">http://127.0.0.1:5000/api/v1/10</a></p>
    <p>URL Example for one year: <a href="http://127.0.0.1:5000/api/v1/yearly/10/1988">http://127.0.0.1:5000/api/v1/yearly/10/1988</a></p>
    <p>{{data|safe}}</p>
  </body>
</html>
